/*https://fonts.google.com/selection/embed*/

*{
    margin : 0;
    padding : 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}

main, footer{
    background-color: rgb(63, 63, 63);
}

.fuente{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

img{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: rgba(37, 37, 37);
}
  
::-webkit-scrollbar-thumb {
    background: rgba(255, 122, 14, 0.751);
    border-radius: 50px;
    transition: transform .3s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 122, 14);
}

header{
    position: sticky;
    top: 0;
    height: 7vh;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4%;
    z-index: 99;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul{
    width: 50%;
    list-style: none;
    font-size: 2.2vw;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.volver_inicio{
    max-height: 5vh;
}

nav a{
    text-decoration: none;
    color: rgb(255, 122, 14);
    height: 100%;
}

.naranja{
    color: white;
    background: linear-gradient(to left,rgba(37, 37, 37, 0),rgb(255, 122, 14, 0.6));
    font-weight: 1000;
    font-size: 3.5rem;
}

.personajes .negro_izquierda .naranja{
    padding: 0 0 0 5%;
}

h1, h2{
    padding: 0 1%;
    font-weight: 1000;
}

#inicio .portada{
    background-image: url("./Images/Theros/Theros_Constellations.jpg");
}

#theros .portada{
    background-image: url("./Images/Theros/Theros_Wallpaper.jpg");
}

#bloomburrow .portada{
    background-image: url("./Images/Bloomburrow/Bloomburrow_Wallpaper.webp");
}

#ravnica .portada{
    background-image: url("./Images/Ravnica/Ravnica_Wallpaper.jpg");
}

#eldraine .portada{
    background-image: url("./Images/Eldraine/Eldraine_Wallpaper.jpg");
}

#kamigawa .portada{
    background-image: url("./Images/Kamigawa/Kamigawa_Wallpaper.webp");
}

#phyrexia .portada{
    background-image: url("./Images/Phyrexia/Phyrexia_Wallpaper.jpg");
}

#kaldheim .portada{
    background-image: url("./Images/Kaldheim/Kaldheim_Wallpaper.webp");
}

#capenna .portada{
    background-image: url("./Images/Capenna/New_Capenna_Wallpaper.avif");
}

#ikoria .portada{
    background-image: url("./Images/Ikoria/Ikoria_Wallpaper.webp");
}

#white .portada{
    background-image: url("./Images/White/White_Wallpaper.jpg");
}

.portada{
    background-size: cover;
    background-position: center center;
    height: 93.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 300%;
}

.logo{
    width: 40vw;
}

.siguiente{
    position: fixed;
    top: 460px;
    right: 19px;
    color: white;
    font-size: 1.5em;
    z-index: 99;
    text-decoration: none;
    padding: 1.5% 0.9%;
    background-color: #c4681e;
    border-radius: 10px;
    font-weight: 1000;
    box-shadow: 0px 0px 20px 0px rgb(22, 22, 22);
}

.siguiente:hover{
    background-color: rgba(255, 122, 14);
    border-radius: 10px;
    font-weight: 1000;
    text-decoration: none;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.614);
}

.anterior{
    position: fixed;
    top: 460px;
    left: 19px;
    color: white;
    font-size: 1.5em;
    z-index: 99;
    text-decoration: none;
    padding: 1.5% 0.9%;
    background-color: #c4681e;
    border-radius: 10px;
    font-weight: 1000;
    box-shadow: 0px 0px 20px 0px rgb(22, 22, 22);
}

.anterior:hover{
    background-color: rgba(255, 122, 14);
    border-radius: 10px;
    font-weight: 1000;
    text-decoration: none;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.614);
}

.descripcion, footer{
    background-color: rgba(255, 122, 14, 0.482);
    padding: 1.5% 5% 3.5% 5%;
    font-size: 2em;
}

.descripcion>*, footer>*{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.descripcion>*::after, .footer>*::after{/*la primera barra se pone debajo de los botones y el color no es el */
    content: '';
    background-color: white;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -30px;
}

.descripcion>div>p{
    width: 31%;
    padding: 2.5% 0 0 0;
}

#planos{
    padding: 2% 4%;
}

#tarjetas_planos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1%;
}

#planos article{
    border-radius: 30px;
    box-shadow: 0px 20px 20px 0px rgb(22, 22, 22);
    transition: transform .3s;
}

#planos article:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 40px 0px white;
}

.logo_expansion{
    width: 90%;
}

.negro_abajo{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgb(37, 37, 37, 0)50%,rgba(37, 37, 37)80%);
    opacity: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    margin: 1% 0 0 0;
    transition: transform .3s;
}

.negro_abajo:hover{
    background: linear-gradient(to bottom,rgb(37, 37, 37, 0)50%,rgb(30, 30, 30)77%);
}

#plano_theros{
    background-image: url("./Images/Theros/Theros_Card.jpg");
    background-position: center top;
    width: 100%;
    height: 67vh;
}

#planos>div>a{
    width: 30%;
    padding: 2% 0;
}

#planos article>div{
    text-align: center;
    padding: 0 0 2% 0;
}

.encabezado_logo_expansion{
    background-color: rgba(37, 37, 37, 0.479);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 1%;
}

.nombre_texto_izquierda{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.nombre_texto_izquierda>*{
    width: 45%;
    padding: 1% 1% 1% 5%;
}

/*aqui empieza la prueba
.nombre_texto_izquierda>h2, .nombre_texto_izquierda>div{
    width: 45%;
    padding: 1% 0 1% 5%;
}

.nombre_texto_izquierda>p{
    width: 45%;
    padding: 1% 0 0 5%;
}

.nombre_texto_derecha>h2, .nombre_texto_derecha>div{
    width: 45%;
    padding: 1% 5% 1% 2%;
}

.nombre_texto_derecha>p{
    width: 45%;
    padding: 1% 5% 0 5%;
}
aqui acaba la prueba*/

.nombre_texto_derecha{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.nombre_texto_derecha>*{
    width: 45%;
    padding: 1% 5% 1% 1%;
}

.simbolos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0.8%;
    margin: 0 2%;
    width: 8%;
    background: linear-gradient(to top,rgb(37, 37, 37, 0.8)20%,rgba(37, 37, 37, 0.1)80%);
}

.simbolo_encendido{
    width: 100%;
}

.simbolo_apagado{
    width: 70%;
    opacity: 0.30;
}

.flavor_text>*{
    font-family: "Cormorant SC", serif;
    font-weight: 0;
    font-style: normal;
    font-size: 0.9em;
    color: white;
}

.flavor_text>p{
    font-size: 0.7em;
    display: flex;
    justify-content: end;
}

.personajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2.8vh;
    padding: 2% 0;
}

.personajes>div{
    border-radius: 30px;
    margin: 1% 0;
    width: 90%;
    height: 80vh;
    background-size: cover;
    background-position: center top;
    transition: transform .3s;
    box-shadow: 0px 0px 20px 0px rgb(22, 22, 22);
}

.personajes>div:hover{
    transform: scale(1.01);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.614);
}

.negro_izquierda{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgb(37, 37, 37)20%,rgba(37, 37, 37, 0.116)80%);
    opacity: 1;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.negro_derecha{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,rgb(37, 37, 37)20%,rgba(37, 37, 37, 0.116)80%);
    opacity: 1;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

#heliod{
    background-image: url("./Images/Theros/Theros_Heliod.png");  
}

#thassa{
    background-image: url("./Images/Theros/Theros_Thassa.jpg");
}

#erebos{
    background-image: url("./Images/Theros/Theros_Erebos.png");
}

#purphoros{
    background-image: url("./Images/Theros/Theros_Purphoros.png");
}

#nylea{
    background-image: url("./Images/Theros/Theros_Nylea.jpg");
}

#elesh_norn{
    background-image: url("./Images/Phyrexia/Phyrexia_Elesh.jpg");
}

#jin_gitaxias{
    background-image: url("./Images/Phyrexia/Phyrexia_Jin_Gitaxias.webp");
}

#sheoldred{
    background-image: url("./Images/Phyrexia/Phyrexia_Sheoldred.webp");
}

#urabrask{
    background-image: url("./Images/Phyrexia/Phyrexia_Urabrask.jpg");
}

#vorinclex{
    background-image: url("./Images/Phyrexia/Phyrexia_Vorinclex.webp");
}

#ao{
    background-image: url("./Images/Kamigawa/Kamigawa_Ao.jpg");
}

#kairi{
    background-image: url("./Images/Kamigawa/Kamigawa_Kairi.jpg");
}

#junji{
    background-image: url("./Images/Kamigawa/Kamigawa_Junji.webp");
}

#atsushi{
    background-image: url("./Images/Kamigawa/Kamigawa_Atsushi.jpg");
}

#kura{
    background-image: url("./Images/Kamigawa/Kamigawa_Kura.jpg");
}

#kenrith{
    background-image: url("./Images/Eldraine/Kenrith.webp");
}

#gadwick{
    background-image: url("./Images/Eldraine/Gadwick.webp");
}

#ayara{
    background-image: url("./Images/Eldraine/Ayara.jpg");
}

#torbran{
    background-image: url("./Images/Eldraine/Torbran.webp");
}

#yorvo{
    background-image: url("./Images/Eldraine/Yorvo.webp");
}

#azorius{
    background-image: url("./Images/Ravnica/Azorius.jpg");
}

#orzhov{
    background-image: url("./Images/Ravnica/Orzhov.jpg");
}

#boros{
    background-image: url("./Images/Ravnica/Boros.jpg");
}

#selesnya{
    background-image: url("./Images/Ravnica/Selesnya.jpg");
}

#dimir{
    background-image: url("./Images/Ravnica/Dimir.jpg");
}

#izzet{
    background-image: url("./Images/Ravnica/Izzet.jpg");
}

#simic{
    background-image: url("./Images/Ravnica/Simic.webp");
}

#rakdos{
    background-image: url("./Images/Ravnica/Rakdos.jpg");
}

#golgari{
    background-image: url("./Images/Ravnica/Golgari.jpg");
}

#gruul{
    background-image: url("./Images/Ravnica/Gruul.jpg");
}

#pajaros{
    background-image: url("./Images/Bloomburrow/Pajaros.jpg");
}

#murcielagos{
    background-image: url("./Images/Bloomburrow/Murcielagos.jpg");
}

#ratones{
    background-image: url("./Images/Bloomburrow/Ratones.jpg");
}

#conejos{
    background-image: url("./Images/Bloomburrow/Conejos.jpg");
}

#ratas{
    background-image: url("./Images/Bloomburrow/Ratas.jpg");
}

#nutrias{
    background-image: url("./Images/Bloomburrow/Nutrias.jpg");
}

#ranas{
    background-image: url("./Images/Bloomburrow/Ranas.webp");
}

#lagartos{
    background-image: url("./Images/Bloomburrow/Lagartos.jpg");
}

#ardillas{
    background-image: url("./Images/Bloomburrow/Ardillas.jpg");
}

#mapaches{
    background-image: url("./Images/Bloomburrow/Mapaches.jpg");
}

#vadrok{
    background-image: url("./Images/Ikoria/vadrok.webp");
}

#snapdax{
    background-image: url("./Images/Ikoria/snapdax.png");
}

#nethroi{
    background-image: url("./Images/Ikoria/nethroi.webp");
}

#brokkos{
    background-image: url("./Images/Ikoria/brokkos.webp");
}

#illuna{
    background-image: url("./Images/Ikoria/illuna.jpg");
}

#obscura{
    background-image: url("./Images/Capenna/obscura.jpg");
}

#brokers{
    background-image: url("./Images/Capenna/brokers.jpg");
}

#cabaretti{
    background-image: url("./Images/Capenna/cabaretti.jpg");
}

#maestros{
    background-image: url("./Images/Capenna/maestros.webp");
}

#riveteers{
    background-image: url("./Images/Capenna/riveteers.jpg");
}

#spirits{
    background-image: url("./Images/Kaldheim/spirits.webp");
}

#angels{
    background-image: url("./Images/Kaldheim/angels.jpg");
}

#dwarves{
    background-image: url("./Images/Kaldheim/dwarves.jpg");
}

#humans{
    background-image: url("./Images/Kaldheim/humans.webp");
}

#zombies{
    background-image: url("./Images/Kaldheim/zombies.webp");
}

#giants{
    background-image: url("./Images/Kaldheim/giants.webp");
}

#shapeshifters{
    background-image: url("./Images/Kaldheim/shapeshifters.jpg");
}

#demons{
    background-image: url("./Images/Kaldheim/demons.webp");
}

#elves{
    background-image: url("./Images/Kaldheim/elves.webp");
}

#trolls{
    background-image: url("./Images/Kaldheim/trolls.webp");
}

#planos>div>a>article{
    background-position: center top;
    width: 100%;
    height: 67vh;
}

#plano_kamigawa{
    background: url("./Images/Kamigawa/Kamigawa_Card.webp");
}

#plano_bloomburrow{
    background: url("./Images/Bloomburrow/Bloomburrow_Card.jpg");
}

#plano_phyrexia{
    background: url("./Images/Phyrexia/Phyrexia_Card.png");
}

#plano_kaldheim{
    background: url("./Images/Kaldheim/Kaldheim_Card.webp");
}

#plano_capenna{
    background: url("./Images/Capenna/New_Capenna_Card.webp");
}

#plano_ravnica{
    background: url("./Images/Ravnica/Ravnica_Card.jpg");
}

#plano_ikoria{
    background: url("./Images/Ikoria/Ikoria_Card.jpg");
}

#plano_eldraine{
    background: url("./Images/Eldraine/Eldraine_Card.jpg");
}
